//Colors of first page
$background-color:#F3F2EA;
$font-color:#322F27;
$animation-color:#D74161;
$links-color:#AEABA3;
$white:#E2E1DD;
$grey:#78756C;

// Colors of second page
$blue:#4FE8FF;
$green:#A5DE28;
$violet:#AD28DE;
$yellow:#DE7828;
$dark-violet:#774689;

//Colors for third page
$red:#DE5728;
$turquoise:#4DFFD8;
$yellow-green:#DED728;
$purple:#604689;
$lollipop-purple:#6F28DE;

// font sizes - first page
$title-font-size:180px;
$description-font-size:24px;
$links-font-size:20px;

// font sizes - second page
$first-title-fontsize:258px;
$second-title-fontsize:423px;
$third-title-fontsize:157px;
$fourth-title-fontsize:96px;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;